{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>{{user}}샵입니다.</h1>
<button type="button" class="btn btn-info" style="background-color: #f0d264; padding: 8px 18px;  
font-size: 14px; color: white;  
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
               margin: 16px;"><a href="{% url 'seller:add_food' %}" style="  text-decoration: none;
  color: white;">음식등록</a></button>


<ul>
    <h3>음식</h3>
    {% for food in object_list %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ food.image_url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'seller:food_detail' pk=food.pk %}">{{ food.name }}</a></h5>
              <p class="card-text">{{ food.description }}</p>
              <p class="card-text">₩{{ food.price }}</p>
              <p class="card-text"><small class="text-body-secondary">{{food.user}}</small></p>
            </div>
          </div>
        </div>
      </div>
    
    {% endfor %}
</ul>
</div>
{% endblock%}