{% extends 'base.html' %}


{% block content %}
<div class="container">
  <h1>{{user}}샵입니다.</h1>
  <button type="button" class="btn btn-info" style="background-color: #f0d264; padding: 8px 18px;  
  font-size: 14px; color: white;      
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
                margin: 16px;"><a href="{% url 'seller:add_food' %}" style="  text-decoration: none;
    color: white; font-size: x-large;">음식등록</a></button>



      <h3>음식</h3>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for food in object_list %}
        
          <div class="col">
            <div class="card">            
                <a href="{% url 'seller:food_detail' pk=food.pk %}"> <img src="{{ food.image_url }}" class="img-fluid rounded-start" alt="..."></a>           
                <!-- card-body -->
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'seller:food_detail' pk=food.pk %}">#{{food.id}}-{{ food.name }}</a></h5>
                  <p class="card-text">{{ food.description }}</p>
                  <p class="card-text">₩{{ food.price }}</p>
                  <p class="card-text"><small class="text-body-secondary">판매자-{{food.user}}</small></p>
                </div>
              
            </div>
          </div>
          {% endfor %}
        </div>
    

</div>
{% endblock%}